:root {
  --altcha-color: theme(colors.orange.400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-gradient-to-t from-ocean-900 to-ocean-700;
  }
}
